<!-- header -->       
<header class="header">
    <div class="container-sm-full header-wrapper d-flex">
        <a href="index.html" class="logo"><img src="/assets/images/logo.png" alt="logo"></a>
        <ul class="menu d-flex">
            <li class="menu-item col-white"><a href="#">系列鏡框</a></li>
            <li class="menu-item col-white"><a href="/pages/store.html">門市據點</a></li>
            <li class="menu-item col-white"><a href="#">部落格</a></li>
            <li class="menu-item col-white"><a href="/pages/faq.html">常見問題</a></li>
        </ul>
    </div>
</header>
