.content-title{
    font-weight: bold;
    border-left: 8px solid $primary;
    margin-left: 16px;
    margin-bottom: 32px;
    padding-left: 16px;
}
.faq{
    padding-top: 96px;
    padding-bottom: 80px;
    &-title{
        margin-bottom: 24px;
        font-weight: bold;
        padding-left: 20px;
    }
    &-content-q{
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 8px;
        padding-left: 20px;
    }
    &-content-a{
        margin-bottom: 32px;
        padding-left: 20px;
    }
}