<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Week-4-task</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

   <div class="store container">
     <h1 class="content-title fs-h3">門市據點</h1>   
     <div class="store-search d-flex">
      <label for="area"  class="store-search-label fs-h4 mr-4 ml-4">選擇地區</label>
      <select type="select" name="" id="area" class="store-search-select">
        <option value="disabled">台北中山旗艦店</option>
        <option value="Taipei City">台北市</option>
        <option value="New Taipei City">新北市</option>
        <option value="Taichung City">台中市</option>
      </select>
     </div>
     <ul class="store-list d-flex row">
      <li class="store-item mb-6 col-4 col-md-6 col-sm-12">
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true" alt="台北中山旗艦店">
          <div class="card-body">
            <h2 class="card-title fs-h4">台北中山旗艦店</h2>
            <ul class="card-info">
              <li><span class="material-symbols-outlined me-3">call</span><a href="tel:+886 000-1234">電話：(02)000-1234</a></li>
              <li><span class="material-symbols-outlined me-3">schedule</span><a href="#">營業時間：10:00-21:00</a></li>
              <li><span class="material-symbols-outlined me-3">location_on</span><a href="#">地址：台北市中山區南京東路25巷2-1號</a></li>
            </ul>
          </div>
          <a href="#" class="store-btn">詳細資料</a>
        </div>
      </li>
      <li class="store-item mb-6 col-4 col-md-6 col-sm-12">
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true" alt="台北綠園店">
          <div class="card-body">
            <h2 class="card-title fs-h4">台北綠園店</h2>
            <ul class="card-info">
              <li><span class="material-symbols-outlined me-3">call</span><a href="tel:+886 000-2345">電話：(02)000-2345</a></li>
              <li><span class="material-symbols-outlined me-3">schedule</span><a href="#">營業時間：10:00-21:00</a></li>
              <li><span class="material-symbols-outlined me-3">location_on</span><a href="#">地址：台北市中正區復興南路132-1號</a></li>
            </ul>
          </div>
          <a href="#" class="store-btn">詳細資料</a>
        </div>
      </li>
      <li class="store-item mb-6 col-4 col-md-6 col-sm-12">
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true" alt="台中清水旗艦店">
          <div class="card-body">
            <h2 class="card-title fs-h4">台中清水旗艦店</h2>
            <ul class="card-info">
              <li><span class="material-symbols-outlined me-3">call</span><a href="tel:+886 000-1234">電話：(02)000-1234</a></li>
              <li><span class="material-symbols-outlined me-3">schedule</span><a href="#">營業時間：10:00-21:00</a></li>
              <li><span class="material-symbols-outlined me-3">location_on</span><a href="#">地址：台中市清水區經南一路23號8樓</a></li>
            </ul>
          </div>
          <a href="#" class="store-btn">詳細資料</a>
        </div>
      </li>
      <li class="store-item col-4 col-md-6 col-sm-12">
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true" alt="高雄中正形象店">
          <div class="card-body">
            <h2 class="card-title fs-h4">高雄中正形象店</h2>
            <ul class="card-info">
              <li><span class="material-symbols-outlined me-3">call</span><a href="tel:+886 000-1234">電話：(07)000-1234</a></li>
              <li><span class="material-symbols-outlined me-3">schedule</span><a href="#">營業時間：10:00-21:00</a></li>
              <li><span class="material-symbols-outlined me-3">location_on</span><a href="#">地址：高雄市苓雅區中正路38號12樓</a></li>
            </ul>
          </div>
          <a href="#" class="store-btn">詳細資料</a>
        </div>
      </li>
      <li class="store-item col-4 col-md-6 col-sm-12">
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true" alt="台中清水旗艦店">
          <div class="card-body">
            <h2 class="card-title fs-h4">高雄夢時代店</h2>
            <ul class="card-info">
              <li><span class="material-symbols-outlined me-3">call</span><a href="tel:+886 000-1234">電話：(07)000-1234</a></li>
              <li><span class="material-symbols-outlined me-3">schedule</span><a href="#">營業時間：10:00-21:00</a></li>
              <li><span class="material-symbols-outlined me-3">location_on</span><a href="#">地址：高雄市前鎮區中華一路63號6樓</a></li>
            </ul>
          </div>
          <a href="#" class="store-btn">詳細資料</a>
        </div>
      </li>

     </ul>
   </div>





    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
